.textInput {
  margin-bottom: 16px;
}

.textInputLabel {
  margin-top: 0px;
  margin-bottom: 6px;
}

.lightblue {
  background-color: lightblue !important;
}

.blueBorder {
  border-style: dotted;
  border-color: blue;
}
